<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>NBA App</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <h1>Welcome to NBA Teams App!</h1>
    <p>
      Search for NBA teams by division and/or conference and view your search
      history.
    </p>
    <div class="links">
      <a href="/search" class="button">Search Teams by Division/Conference</a>
      <br /><br />
      <a href="/history" class="button">View Search History</a>
      <br /><br />
      <a href="/clear" class="button">Clear Search History</a>
    </div>
  </body>
</html>
